<footer class="footer-container container" id="footer">

    <section class="footer-section">
        <div class="footer-top">
            <a href="./index.html" class="logo-link">
                <svg class="icon-logo">
                    <use href="./img/icon.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="footer-top-contacts">
                <a href="tel:+380665438912">UA: +38 066 543 8912</a>
                <p>Ukraine, Kyiv</p>
            </div>
        </div>

        <div class="footer-mid">
            <ul class="social-menu">
                <li>
                    <a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/GoIT/" target="_blank">Youtube</a>
                </li>
            </ul>

            <ul class="menu">
                <li><a href="#about-us">About us</a></li>
                <li><a href="#our-courses">Our courses</a></li>
                <li><a href="#our-mentors">Our mentors</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#footer">Contacts</a></li>
            </ul>
        </div>

        <div class="footer-bot">
            <form class="submit-form">
                <input
                    type="email"
                    placeholder="Enter your email"
                    class="footer-textarea"
                    id="email-input"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    required
                />
                <button class="go-bottom-btn" type="submit">Go</button>
            </form>
        </div>
    </section>

    <div class="footer-bot-text">
        <p>
            Privacy Policy <br />
            Public Offering Agreement
        </p>
        <p>2023 Focus Frame <br />© All rights reserved</p>
    </div>
</footer>
