<header class="header">
    <div class="container header-container">
        <nav class="navigation">
            <a href="../index.html" class="logo-header">
                <svg class="logo-header-icon">
                    <use href="../img/icon.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="nav-list">
                <li class="nav-item"><a href="../index.html" class="nav-link">About us</a></li>
                <li class="nav-item"><a href="" class="nav-link">Our courses</a></li>
                <li class="nav-item"><a href="" class="nav-link">Our mentors</a></li>
                <li class="nav-item"><a href="" class="nav-link">Reviews</a></li>
                <li class="nav-item"><a href="" class="nav-link">Contacts</a></li>
            </ul>
            <button class="header-camera-btn" type="button">
                <svg class="header-camera-icon" width="16" height="16">
                    <use href="../img/icon.svg#icon-camera"></use>
                </svg>
            </button>
            <button class="header-nav-btn" type="button">
                <svg class="header-nav-icon" width="32" height="22 ">
                    <use href="../img/icon.svg#icon-nav"></use>
                </svg>
            </button>
        </nav>

        <button class="sing-up-btn" type="button">SING UP</button>
    </div>
</header>