<div class="modal-menu">
  <div class="menu-container">
    <button class="modal-btn" type="button" aria-label="modal close button">
      <svg class="modal-btn-icon" width="32" height="32">
        <use href="././img/icon.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="menu-nav">
      <ul class="list-nav">
        <li class="item-nav">
          <a href="#about-us" class="link-nav current"
            ><span class="first-item">About us</span></a
          >
        </li>
        <li class="item-nav">
          <a href="#our-courses" class="link-nav">Our courses</a>
        </li>
        <li class="item-nav">
          <a href="#our-mentors" class="link-nav">Our mentors</a>
        </li>
        <li class="item-nav">
          <a href="#reviews" class="link-nav">Reviews</a>
        </li>
        <li class="item-nav">
          <a href="#footer" class="link-nav">contacts</a>
        </li>
      </ul>
    </nav>
    <picture>
      <!--PHONE-->
      <source
        class="image"
        media="(max-width: 767px)"
        srcset="./img/menu/menu-mob@1x.png 1x, ./img/menu/menu-mob@2x.png 2x"
      />
      <!-- TABLET -->
      <source
        class="image"
        media="(min-width: 768px)"
        srcset="./img/menu/menu-tab@1x.png 1x, ./img/menu/menu-tab@2x.png 2x"
      />
      <img class="image" src="./img/menu/menu-tab@1x.png" alt="image-menu" />
    </picture>
  </div>
</div>
