<div class="modal-menu">
  <div class="menu-container">
    <button class="modal-btn" type="button" aria-label="modal close button">
      <svg class="modal-btn-icon" width="40" height="40">
        <use href="#icon-close"></use>
      </svg>
    </button>
    <nav class="menu-nav">
      <ul class="list-nav">
        <li class="item-nav">
          <a href="#About us" class="link-nav"
            ><span class="first-item">About us</span></a
          >
        </li>
        <li class="item-nav">
          <a href="#Our courses" class="link-nav">Our courses</a>
        </li>
        <li class="item-nav">
          <a href="#Our mentors" class="link-nav">Our mentors</a>
        </li>
        <li class="item-nav">
          <a href="#Reviews" class="link-nav">Reviews</a>
        </li>
        <li class="item-nav">
          <a href="#contacts" class="link-nav">contacts</a>
        </li>
      </ul>
    </nav>
    <img src="" alt="" />
  </div>
</div>
