<div class="modal-menu is-open">
  <div class="menu-container">
    <button class="modal-btn" type="button" aria-label="modal close button">
      <svg class="modal-btn-icon" width="32" height="32">
        <use href="../img/icon.svg#close-icon"></use>
      </svg>
    </button>
    <nav class="menu-nav">
      <ul class="list-nav">
        <li class="item-nav">
          <a href="#About us" class="link-nav"
            ><span class="first-item">About us</span></a
          >
        </li>
        <li class="item-nav">
          <a href="#Our courses" class="link-nav">Our courses</a>
        </li>
        <li class="item-nav">
          <a href="#Our mentors" class="link-nav">Our mentors</a>
        </li>
        <li class="item-nav">
          <a href="#Reviews" class="link-nav">Reviews</a>
        </li>
        <li class="item-nav">
          <a href="#contacts" class="link-nav">contacts</a>
        </li>
      </ul>
    </nav>
    <picture>
      <!--PHONE-->
      <source
        media="(max-width: 375px)"
        srcset="./img/menu/menu-mob@1x.png 1x, ./img/menu/menu-mob@2x.png 2x"
      />
      <!-- TABLET -->
      <source
        media="(max-width: 768px)"
        srcset="./img/menu/menu-tab@1x.png 1x, ./img/menu/menu-tab@2x.png 2x"
      />
    </picture>
  </div>
</div>
