

<section class="our-mentors-section">
    <div class="container mentors-container">
        <h2 class="our-mentors-title-h2 "><span class="span-our">Our </span> Mentors</span></h2>
        <ul class="menu-mentors-list list">
            <li class="menu-mentors-item menu-item">
                <picture class="picture-foto-mentors">
                    <sourse media="(min-width: 1280px)"
                        srcset="./img/our-mentors/girl1our_mentors1@1x.png 1x, ./img/our-mentors/girl1our_mentors1@2x.png 2x"/>
                    <sourse media="(min-width: 768px)"
                        srcset="./img/our-mentors/girl1our_mentors1@1x.png 1x, ./img/our-mentors/girl1our_mentors1@2x.png 2x"/>
                    <sourse media="(max-width: 767px)"
                        srcset="./img/our-mentors/girl1our_mentors1@1x.png 1x, ./img/our-mentors/girl1our_mentors1@2x.png 2x"/>
                    <img class="img-mentors" src="./img/our-mentors/girl1our_mentors1@1x.png" alt="Emilia Smith" width="180">
                    </img>
                </picture>
                <div class="container-mentors-title-text">
                  <h3 class="our-mentors-title-h3">Emilia Smith</h3>
                    <p class="our-mentors-text">1.5 years of experience</p>
                </div>       
            </li>
            <li class="menu-mentors-item menu-item">
                <picture class="picture-foto-mentors">
                    <source media="(min-width: 128px)"
                        srcset="./img/our-mentors/boy1our_mentors2@1x.png 1x, ./img/our-mentors/boy1our_mentors2@2x.png2x"/>
                    <source media="(min-width: 768px)"
                         srcset="./img/our-mentors/boy1our_mentors2@1x.png 1x, ./img/our-mentors/boy1our_mentors2@2x.png2x"/>
                    <source media="(max-width: 767px)"
                        srcset="./img/our-mentors/boy1our_mentors2@1x.png 1x, ./img/our-mentors/boy1our_mentors2@2x.png2x"/>
                    <img class="img-mentors" src="./img/our-mentors/boy1our_mentors2@1x.png" alt="Alex Lebedev" width="180">
                    </img>
                </picture>
                 <div class="container-mentors-title-text">
                    <h3 class="our-mentors-title-h3">Alex Lebedev</h3>
                    <p class="our-mentors-text">3.5 years of experience</p>
                </div>
            </li>
            <li class="menu-mentors-item menu-item">
                <picture class="picture-foto-mentors">
                    <source media="(min-width: 1280px)"
                        srcset="./img/our-mentors/girl2our_mentors3@1x.png 1x, ./img/our-mentors/girl2our_mentors3@2x.png 2x"/>
                    <source media="(min-width: 768px)"
                        srcset="./img/our-mentors/girl2our_mentors3@1x.png 1x, ./img/our-mentors/girl2our_mentors3@2x.png 2x"/>
                    <source media="(max-width: 767px)"
                        srcset="./img/our-mentors/girl2our_mentors3@1x.png 1x, ./img/our-mentors/girl2our_mentors3@2x.png 2x"/>
                    <img class="img-mentors" src="./img/our-mentors/girl2our_mentors3@1x.png" alt="Mia Dubrovska" width="180">
                    </img>
                </picture>
                <div class="container-mentors-title-text">
                    <h3 class="our-mentors-title-h3">Mia Dubrovska</h3>
                    <p class="our-mentors-text">2.0 years of experience</p>
                </div>
            </li>
            <li class="menu-mentors-item menu-item">
                <picture class="picture-foto-mentors">
                    <source media="(min-width: 1280px)"
                        srcset="./img/our-mentors/boy2our_mentors4@1x.png 1x, ./img/our-mentors/boy2our_mentors4@2x.png 2x"/>
                    <source media="(min-width: 768px)"
                        srcset="./img/our-mentors/boy2our_mentors4@1x.png 1x, ./img/our-mentors/boy2our_mentors4@2x.png 2x"/>
                    <source media="(max-width: 767px)"
                        srcset="./img/our-mentors/boy2our_mentors4@1x.png 1x, ./img/our-mentors/boy2our_mentors4@2x.png 2x"/>
                    <img class="img-mentors" src="./img/our-mentors/boy2our_mentors4@1x.png" alt="Mia Dubrovska" width="180">
                    </img>
                </picture>
                    <div class="container-mentors-title-text">
                    <h3 class="our-mentors-title-h3">Eliot Kovalev</h3>
                    <p class="our-mentors-text">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>

</section>