

<section class="our-mentors-section">
    <div class="container mentors-container">
        <h2 class="our-mentors-title">Our <span class="span-mentors">Mentors</span></h2>
        <ul class="menu-mentors-list list">
            <li class="menu-mentors-item menu-item">
                <img class="img-mentors" srcset="./src/img/our-mentors/girl 1our_mentors1@1x.png, ./src/img/our-mentors/girl 1our_mentors1@2x.png"
                 alt="Emilia Smith"
                         width="180px">
                </img>
                <div class="container-mentors-title-text">
                    <h3 class="our-mentors-title">Emilia Smith</h3>
                    <p class="our-mentors-text">1.5 years of experience</p>
                </div>       
            </li>
            <li class="menu-mentors-item menu-item">
                <img class="img-mentors"
                    srcset="./src/img/our-mentors/boy 1our_mentors2@1x.png, ./src/img/our-mentors/boy 1our_mentors2@2x.png"
                    alt="Alex Lebedev" width="180px">
                </img>
                <div class="container-mentors-title-text">
                    <h3 class="our-mentors-title">Alex Lebedev</h3>
                    <p class="our-mentors-text">3.5 years of experience</p>
                </div>
            </li>
            <li class="menu-mentors-item menu-item">
                <img class="img-mentors"
                    srcset="./src/img/our-mentors/girl 2our_mentors3@1x.png, ./src/img/our-mentors/girl 2our_mentors3@2x.png"
                    alt="Mia Dubrovska" width="180px">
                </img>
                <div class="container-mentors-title-text">
                    <h3 class="our-mentors-title">Mia Dubrovska</h3>
                    <p class="our-mentors-text">2.0 years of experience</p>
                </div>
            </li>
            <li class="menu-mentors-item menu-item">
                <img class="img-mentors"
                    srcset="./src/img/our-mentors/boy 2our_mentors4@1x.png, ./src/img/our-mentors/boy 2our_mentors4@2x.png"
                    alt="Eliot Kovalev" width="180px">
                </img>
                <div class="container-mentors-title-text">
                    <h3 class="our-mentors-title">Eliot Kovalev</h3>
                    <p class="our-mentors-text">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>

</section>