<section class="reviews" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-all">
      <li class="students">
        <div class="reviews-top">
          <img
            class="reviews-avatar"
            srcset="
              ./img/reviews/reviews-1@1x.png 1x,
              ./img/reviews/reviews-1@2x.png 2x
            "
            src="./img/reviews/reviews-1@1x.png"
            alt="review avatar number  2"
            width="56"
            height="56"
          />
          <div class="reviews-name-status">
            <h3 class="reviews-name">Abraham Baker</h3>
            <p class="reviews-status">Student</p>
          </div>
        </div>
        <ul class="rev-star-list">
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-desc">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="students">
        <div class="reviews-top">
          <img
            class="reviews-avatar"
            srcset="
              ./img/reviews/reviews-2@1x.png 1x,
              ./img/reviews/reviews-2@2x.png 2x
            "
            src="./img/reviews/reviews-2@1x.png"
            alt="review avatar number  2"
            width="56"
            height="56"
          />
          <div class="reviews-name-status">
            <h3 class="reviews-name">Amanda Lowery</h3>
            <p class="reviews-status">Student</p>
          </div>
        </div>
        <ul class="rev-star-list">
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rev-star-item">
            <svg class="rev-star-icon" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-desc">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
