<section class="sign-up" id="sign-up">
  <div class="container sign-up-container">
    <div class="form-text">
      <h2 class="sign-up-name">Sign <span class="text-color">Up</span></h2>
      <p class="sign-up-caption">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form
        class="sign-up-form form"
        name="sign-up"
        novalidate
        autocomplete="on"
        method="post"
      >
        <div class="sign-up-input">
          <input
            class="form-input"
            id="user-name"
            name="user-name"
            type="text"
            placeholder="Enter your name"
            pattern="[A-Za-z]"
          />
          <input
            class="form-input"
            id="user-email"
            name="user-email"
            type="email"
            placeholder="Enter your email"
            pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <textarea
            class="form-comment"
            id="user-comment"
            name="user-comment"
            rows="5"
            placeholder="Message"
          ></textarea>
        </div>
      </form>
      <button type="submit" class="button">Send</button>
      <p class="agree">
        By clicking on “Send” button, you agree to our
        <a class="form-privacy-link" href="">Privacy&nbsp;Policy</a>, and allow
        Promodo to use this information for marketing purposes.
      </p>
    </div>
    <div class="foto">
      <picture class="picture-foto-small">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/sign-up/sign_up1-desk1280@1x.png 1x,
            ./img/sign-up/sign_up1-desk1280@2x.png 2x
          "
        />
        <img
          src="../img/sign-up/sign_up1-desk1280@1x.png"
          alt="lens"
          width="150"
          height="142"
          loading="lazy"
          class="foto-small"
        />
      </picture>
      <picture class="picture-foto-big">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/sign-up/sign_up2-desk1280@1x.png 1x,
            ./img/sign-up/sign_up2-desk1280@2x.png 2x
          "
        />
        <img
          src="../img/sign-up/sign_up2-desk1280@1x.png"
          alt="camera"
          width="240"
          height="296"
          loading="lazy"
          class="foto-big"
        />
      </picture>
    </div>
  </div>
</section>
