/* Advertisement section */
.advertisement {
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.advertisement-inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.advertisement-line {
  flex-shrink: 0;
  max-width: 588px;
  padding: 20px;
  white-space: nowrap;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  animation-name: advertisementLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.advertisement-line-color {
  color: #bea69e;
}

@keyframes advertisementLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 768px) {
  .advertisement-line {
    min-width: 840px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 40px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement-line {
    min-width: 1239px;
    font-size: 59px;
    line-height: 1.08;
  }
}
