footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 0;
  background-image: url(/img/footer/footer_bg_mob@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (min-resolution: 192dpi) {
  footer {
    background-image: url(/img/footer/footer_bg_mob@2x.png);
  }
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding-top: 50px;
  }
}
.footer-all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.p {
  margin: 0;
}

.footer-top {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.icon-logo {
  width: 127px;
  height: 20px;
  margin-bottom: 16px;
  flex-shrink: 0;
  fill: #fff;
}

.footer-top-contacts {
  height: 46px;
  margin-bottom: 40px;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  white-space: nowrap;
  text-decoration: none;
  font-size: 14px;
}

.footer-mid {
  margin-bottom: 75px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.social-menu,
.menu {
  max-width: 100%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  white-space: nowrap;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}

.footer-bot {
  margin-bottom: 40px;
}

.submit-form {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  border: none;
}

.footer-textarea {
  width: 267px;
  height: 60px;
  padding: 20px 129px 20px 18px;
  flex-shrink: 0;
  line-height: 20px; /* 125% */
  text-align: center;
  color: #121212;
  background-color: #fff;
  border-radius: 12px;
  border: none;
}

.go-bottom-btn {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #fff;
  background-color: #1d1d1d;
  border-radius: 12px;
  border: none;
}

.footer-bot-text {
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 72px;
  font-size: 12px;
}

@media only screen and (min-width: 375px) {
  .footer-bot-text {
    max-width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-bot-text {
    max-width: 720px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-bot-text {
    max-width: 1080px;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    margin-top: 50px;
    background-image: url(/img/footer/footer_bg_tab@1x.png);
  }

  @media only screen and (min-resolution: 192dpi) {
    footer {
      background-image: url(/img/footer/footer_bg_tab@2x.png);
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-section {
    display: flex;
  }

  .footer-stroke {
    padding-bottom: 50px;
  }

  .footer-all {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }

  .footer-mid {
    margin-right: 59px;
    margin-left: 57px;
    gap: 25px;
  }

  .footer-textarea {
    width: 178px;
    padding: 20px 20px 20px 20px;
  }

  @media only screen and (min-width: 1280px) {
    footer {
      margin-top: 75px;
      background-image: url(/img/footer/footer_bg_desk1280@1x.png);
    }

    @media only screen and (min-resolution: 192dpi) {
      footer {
        background-image: url(/img/footer/footer_bg_desk1280@2x.png);
      }
    }
  }

  @media only screen and (min-width: 1278px) {
    .social-menu {
      gap: 20px;
    }

    .menu {
      gap: 20px;
    }

    .footer-textarea {
      width: 216px;
    }

    .footer-mid {
      margin-left: 234px;
      margin-right: 135px;
      margin-bottom: 50px;
      gap: 100px;
    }
  }
}

@media only screen and (min-width: 150px) and (max-width: 374.98px) {
  .footer-textarea {
    width: 200px;
    padding: 0;
  }

  .footer-bot-text {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 220px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 450px) {
  .footer-textarea {
    width: 250px;
    padding: 0;
  }

  .footer-bot-text {
    width: 290px;
  }
}
