.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  height: 50px;
  padding: 0 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #121212;
}

@media screen and (min-width: 375px) {
  .navigation {
    min-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    min-width: 504px;
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    padding: 0 50px;
    min-width: 822px;
  }
}

.nav-list {
  display: flex;
  gap: 28px;
}

@media screen and (max-width: 1279.98px) {
  .nav-list {
    display: none;
  }
}

.nav-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #bea69e;
  font-weight: 700;
}

.header-camera-btn {
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  fill: rgba(190, 166, 158, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-camera-btn:hover {
  fill: rgba(190, 166, 158, 1);
}

@media screen and (min-width: 768px) {
  .header-camera-btn {
    display: none;
  }
}

.header-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .header-nav-btn {
    width: 40px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav-btn {
    display: none;
  }
}

.logo-header-icon {
  width: 127px;
  height: 20px;
  flex-shrink: 0;
  fill: #ffffff;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .logo-header-icon {
    margin-right: 90px;
  }
}

@media screen and (min-width: 768px) {
  .logo-header-icon {
    width: 123px;
    height: 16px;
    margin-right: 97px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-header-icon {
    margin-right: 97px;
  }
}

.sign-up-btn {
  border-radius: 12px;
  background: #fff;
  border: none;

  display: flex;
  padding: 16px 58px;
  justify-content: center;
  align-items: center;

  color: #121212;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .sign-up-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up-btn {
    padding: 16px 84px;
  }
}

.sign-up-btn:hover {
  background: #1d1d1d;
  color: rgba(190, 166, 158, 1);
}
