.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-menu {
  width: 100%;
}
.menu-container {
  height: 100%;
  width: 218px;
  background-color: #bea69e;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(-);
}
.modal-btn {
  border: 0;
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #bea69e;
}
.modal-btn-icon {
}
.menu-nav {
  margin-top: 180px;
  margin-left: 20px;
  max-width: 97px;
}
.list-nav {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.item-nav {
}
.first-item {
  font-weight: 700;
}
.link-nav {
  color: #121212;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .menu-container {
    height: 100%;
    width: 418px;
    background-color: #bea69e;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(-);
  }
  .modal-btn {
    top: 20px;
    right: 32px;
  }
  .modal-btn-icon {
  }
  .menu-nav {
    margin-top: 180px;
    margin-left: 20px;
    max-width: 97px;
  }
  .list-nav {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .item-nav {
  }
}
@media screen and (min-width: 769px) {
  .modal-menu {
    display: none;
  }
}
