.modal-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-container {
  width: 218px;
  background-color: #bea69e;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(-);
}
.modal-btn {
  border: 0;
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #bea69e;
}
.modal-btn-icon {
  stroke: #121212;
  background-color: #bea69e;
}
.menu-nav {
  margin-top: 180px;
  margin-left: 20px;
  max-width: 97px;
}
.list-nav {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 133px;
}
.first-item {
  font-weight: 700;
}
.link-nav {
  color: #121212;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
}
.image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 418px;
  }
  .modal-btn {
    right: 32px;
  }
  .modal-btn-icon {
    width: 40px;
    height: 40px;
  }
  .menu-nav {
    margin-top: 232px;
    margin-left: 64px;
  }
  .list-nav {
    gap: 28px;
    padding-bottom: 114px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-menu {
    display: none;
  }
}
