.courses-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrap {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  /* tablet */
  .text-wrap {
    margin-bottom: 50px;
    flex-direction: row;
    gap: 58px;
  }
}

@media screen and (min-width: 1280px) {
  /* desktop */
  .text-wrap {
    gap: 410px;
  }
}

.caption {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.15; /* 114.286% */
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* tablet */
  .caption {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }
}

.caption-span {
  color: #bea69e;
}

.courses-desc {
  max-width: 316px;
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* tablet */
  .courses-desc {
    max-width: 360px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1280px) {
  /* desktop */
  .courses-desc {
    max-width: 370px;
  }
}

.courses-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-position: inside;
  list-style-type: none;
  counter-reset: li 0;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  /* tablet */
  .courses-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.courses-container {
  position: relative;
  max-width: 335px;
  height: 100%;
  padding: 28px;
  background-color: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 768px) {
  /* tablet */
  .courses-container {
    width: calc((100% - 20px * 1) / 2);
    height: 452px;
    padding: 32px;
  }
}

@media screen and (min-width: 1280px) {
  /* desktop */
  .courses-container {
    width: calc((100% - 20px * 2) / 3);
  }
}

.courses-item::before {
  position: absolute;
  top: 28px;
  left: 28px;
  content: '0' counter(li);
  counter-increment: li;
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 768px) {
  /* tablet */
  .courses-item::before {
    top: 32px;
    left: 32px;
  }
}

.courses-link {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover for link  */
.courses-link:hover,
.courses-link:focus {
  background-color: #bea69e;
}

@media screen and (min-width: 768px) {
  /* tablet */
  .courses-link {
    top: 32px;
    right: 32px;
  }
}

.courses-link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: none;
  stroke: #777777;
  transform: translateX(-50%) translateY(-50%);
}

.courses-name {
  max-width: 279px;
  margin-bottom: 164px;
  margin-top: 60px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* tablet */
  .courses-name {
    margin-bottom: 180px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 1280px) {
  /* desktop */
  .courses-name {
    max-width: 283px;
  }
}

.about-courses {
  max-width: 260px;
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  /* tablet */
  .about-courses {
    max-width: 250px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1280px) {
  /* desktop */
  .about-courses {
    max-width: 270px;
  }
}
