.reviews-title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

.students {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.students:not(:first-child) {
  display: none;
}

.reviews-top {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviews-name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.reviews-status {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.rev-star-list {
  margin-left: 66px;
  margin-bottom: 20px;
  display: flex;
  gap: 4px;
}

.rev-star-item {
  width: 16px;
  height: 16px;
}

.rev-star-icon {
  fill: #bea69e;
}

.rev-star-item:last-child > .rev-star-icon {
  fill: #414141;
}

.reviews-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .reviews-all {
    margin: 0 32px;
  }

  .students {
    position: relative;
  }

  .reviews-title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.13;
  }

  .rev-star-list {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
  }

  .reviews-top {
    margin-bottom: 20px;
  }

  .reviews-name {
    line-height: 1.4;
  }

  .reviews-status {
    font-size: 14px;
    line-height: 1.29;
  }

  .reviews-desc {
    font-size: 16px;
    line-height: 1.25;
  }

  .rev-star-item {
    width: 20px;
    height: 20px;
  }

  .rev-star-icon {
    width: 20px;
    height: 20px;
    fill: #bea69e;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-all {
    margin: 0;
    display: flex;
    gap: 20px;
  }

  .students {
    width: calc((100% - 20px) / 1);
  }

  .students:not(:first-child) {
    display: block;
  }
}
