.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.sign-up-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .sign-up-name {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }
}

.text-color {
  color: #bea69e;
}

.sign-up-caption {
  width: 280px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 375px) {
  .sign-up-caption {
    width: 295px;
  }
}

@media only screen and (min-width: 768px) {
  .sign-up-caption {
    width: 480px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

.sign-up-input {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 41px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .sign-up-input {
    gap: 14px;
    margin-top: 40px;
  }
}

.form {
  margin-bottom: 20px;
}

.form-input,
.form-comment {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #121212;
  width: 280px;
  padding: 14px 18px;
  color: #fff;
  resize: none;
}
@media only screen and (min-width: 375px) {
  .form-input,
  .form-comment {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .form-input,
  .form-comment {
    width: 480px;
    padding: 20px 18px;
  }
}

.form-input::placeholder,
.form-comment::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

@media only screen and (min-width: 768px) {
  .form-input::placeholder,
  .form-comment::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}

.button {
  border-radius: 12px;
  border: none;
  background-color: #fff;
  display: flex;
  width: 280px;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;

  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 375px) {
  .button {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    width: 479px;
    display: inline-flex;
    padding: 16px 216px;
    color: var(--black, #121212);
    font-size: 18px;
    line-height: 1.55;
  }
}

.button:hover,
.button:focus {
  background-color: #1d1d1d;
  color: #bea69e;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
}

@media only screen and (min-width: 768px) {
  .agree {
    font-size: 14px;
    line-height: 1.28;
    width: 480px;
  }
}

.form-privacy-link {
  text-decoration-line: underline;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin: 0;
}

@media only screen and (max-width: 1279px) {
  .foto {
    display: none;
  }
}

.back-photo {
  width: 180px;
  height: 288px;
  border-radius: 1000px;
  background: #bea69e;
  padding-top: 60px;
}

.foto-small {
  width: 223px;
  height: 222px;
  margin-left: -25px;
}

.foto-big {
  max-width: 340px;
  max-height: 540px;
  flex-shrink: 0;
  border-radius: 1000px;
  background-color: #1d1d1d;
  padding: 156px 50px 88px;
}
